* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}


.search-form {
  background-color: cornflowerblue;
  padding: 10px;
  margin: 0;
  outline: 1px solid #000;
  text-align: center;
}

.search-form input, .search-form button {
  padding: 10px;
  cursor: pointer;
}

.search-form input {
  width: 300px;
}

.gallery {
  margin: 20px auto;
  display: flex;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


.photo-card {
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  flex-basis: calc((100% - 20px) / 6);
}

.photo-card__image:hover {
  transform: scale(1.03);
}

.photo-card__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.photo-card__link {
  display: block;
  text-decoration: none;
  height: 200px;
}

.photo-card__link:hover {
  cursor: zoom-in;
}

.info {
  display:flex;
  align-items: center;
  justify-content: space-around;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}


.load-more {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  width: 300px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}
